@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.titulo {
  font-size: 1.3em;
  text-align: center;
  color: #CB1C8D;
}

ol {
  background: #F56EB3;
  width: 400px;
  margin: 20px auto;
  border-radius: 25px;
  padding: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

ol li {
  list-style-type: none;
  margin: 10px;
}